.container {
    margin: 100px;
}

.title-configurator {
    width: 400px;
    height: 80px;
    background-color: #071eb3;
    color: #ffffff;
    /* text-align: center; */
    padding: 100px;
    /* vertical-align: center; */
}

.text-configurator {
    width: 349px;
    height: 120px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #161616;
    padding: 50px;
}